<li class="collection-item">
	{{name}}

	<button class="btn-small red change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}DEVOUR IT!{{else}}I want to try this one again...{{/if}}
	</button>
</li>
